<div class="contentimage blackholeimage themetarget loading"></div>
<div class="textcontent themetarget">
    <h3 class="themetarget contenttitle" id="contenttitlelanguagetarget"></h3>
    <p class="themetarget" id="blackholelanguagetarget">
    </p>
</div>