<div class="index_content">
    <div class="index_item" id="index_item_1">Something's broken, contact your local admin</div>
    <div class="index_item" id="index_item_2">Something's broken, contact your local admin</div>
</div>