<section class="index_content">
    <container class="mobile_index_content">
        <article class="mobile_index_item loading" id="mobile_index_item_1">Something's broken, contact your local admin</article>
        <article class="mobile_index_item loading" id="mobile_index_item_2">Something's broken, contact your local admin</article>
    </container>
    <container class="desktop_index_content">
        <img src="Img/Desktop_Index_Card_1_Standard.jpg" alt="temp1" class="desktop_item" id="desktop_item_1">
        <img src="Img/Desktop_Index_Card_2_Standard.jpg" alt="temp2" class="desktop_item" id="desktop_item_2">
        <img src="Img/Desktop_Index_Card_3_Standard.jpg" alt="temp3" class="desktop_item" id="desktop_item_3">
        <img src="Img/Desktop_Index_Card_4_Standard.jpg" alt="temp4" class="desktop_item" id="desktop_item_4">
        <img src="Img/Desktop_Index_Card_5_Standard.jpg" alt="temp5" class="desktop_item" id="desktop_item_5">
        <img src="Img/Desktop_Index_Card_6_Standard.jpg" alt="temp6" class="desktop_item" id="desktop_item_6">
        <img src="Img/Desktop_Index_Card_7_Standard.jpg" alt="temp7" class="desktop_item" id="desktop_item_7">
        <img src="Img/Desktop_Index_Card_8_Standard.jpg" alt="temp8" class="desktop_item" id="desktop_item_8">
    </container>
</section>