<div class="index_content">
    <div class="index_item" id="index_item_1"> <div class="index_header"><p class="index_header_text">Bläck höls</p></div> </div>
    <div class="index_item" id="index_item_2"> <div class="index_header"><p class="index_header_text">Plänets</p></div> </div>
</div>