<div class="contentimage planetimage themetarget"></div>
<div class="textcontent themetarget">
    <h3 class="themetarget contenttitle" id="contenttitlelanguagetarget"></h3>
    <p class="themetarget" id="planetlanguagetarget">
    </p>
</div>