<div class="contentimage pulsarimage themetarget loading"></div>
<article class="textcontent themetarget">
    <h3 class="themetarget contenttitle" id="contenttitlelanguagetarget"></h3>
    <p class="themetarget" id="pulsarlanguagetarget">
    </p>
</article>