<div class="settings_theme themetarget">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">Crab nebula</h3>
        <div class="themetoggle">
            <div class="toggleindicator"></div>
        </div>
    </div>
    <div class="themepreview">
        <div class="previewblock" id="crab_block_1"></div>
        <div class="previewblock" id="crab_block_2"></div>
        <div class="previewblock" id="crab_block_3"></div>
        <div class="previewblock" id="crab_block_4"></div>
    </div>
</div>