<div class="settings_theme themetarget">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">Crab nebula</h3>
        <div class="themetoggle" id="crabtoggle" onclick="manualthemesetter('crab')">
            <div class="toggleindicator" id="crabindicator"></div>
        </div>
    </div>
    <div class="themepreview" id="grayborder">
        <div class="previewblock" id="crab_block_1"></div>
        <div class="previewblock" id="crab_block_2"></div>
        <div class="previewblock" id="crab_block_3"></div>
        <div class="previewblock" id="crab_block_4"></div>
    </div>
</div>
<div class="settings_theme themetarget">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">God's eye nebula</h3>
        <div class="themetoggle" id="godseyetoggle" onclick="manualthemesetter('godseye')">
            <div class="toggleindicator" id="godseyeindicator"></div>
        </div>
    </div>
    <div class="themepreview" id="grayborder">
        <div class="previewblock" id="godseye_block_1"></div>
        <div class="previewblock" id="godseye_block_2"></div>
        <div class="previewblock" id="godseye_block_3"></div>
        <div class="previewblock" id="godseye_block_4"></div>
    </div>
</div>
<div class="settings_theme themetarget">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">Black hole: Messier 87</h3>
        <div class="themetoggle" id="messiertoggle" onclick="manualthemesetter('messier')">
            <div class="toggleindicator" id="messierindicator"></div>
        </div>
    </div>
    <div class="themepreview" id="grayborder">
        <div class="previewblock" id="messier_block_1"></div>
        <div class="previewblock" id="messier_block_2"></div>
        <div class="previewblock" id="messier_block_3"></div>
        <div class="previewblock" id="messier_block_4"></div>
    </div>
</div>

<div class="languageheader chakrafont themetarget">
    <h3>Languages for Content pages</h3>
</div>

<div class="languageoptioncontainer themetarget">
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Swedish</h3>
            <div class="languagetoggle" id="swedishtoggle" onclick="languagesetter('swedish')">
                <div class="languageindicator" id="swedishindicator"></div>
            </div>
        </div>
    </div>
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Russian</h3>
            <div class="languagetoggle" id="russiantoggle" onclick="languagesetter('russian')">
                <div class="languageindicator" id="russianindicator"></div>
            </div>
        </div>
    </div>
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">English</h3>
            <div class="languagetoggle" id="englishtoggle" onclick="languagesetter('english')">
                <div class="languageindicator" id="englishindicator"></div>
            </div>
        </div>

    </div>
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">German</h3>
            <div class="languagetoggle" id="germantoggle" onclick="languagesetter('german')">
                <div class="languageindicator" id="germanindicator"></div>
            </div>
        </div>

    </div>
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">French</h3>
            <div class="languagetoggle" id="frenchtoggle" onclick="languagesetter('french')">
                <div class="languageindicator" id="frenchindicator"></div>
            </div>
        </div>

    </div>
    <div class="languageoption themetarget">
        <div class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Spanish</h3>
            <div class="languagetoggle" id="spanishtoggle" onclick="languagesetter('spanish')">
                <div class="languageindicator" id="spanishindicator"></div>
            </div>
        </div>

    </div>
</div>