<container class="settings_container">
    <section class="settings_theme themetarget" id="crabsetting">
        <div class="themetogglecontainer themetarget">
            <h3 class="chakrafont themetitle">Crab nebula</h3>
            <div class="themetoggle" id="crabtoggle" onclick="manualthemesetter('crab')">
                    <div class="toggleindicator" id="crabindicator"></div>
                </div>
            </div>
            <container class="themepreview" id="grayborder">
                <item class="previewblock" id="crab_block_1"></item>
                <item class="previewblock" id="crab_block_2"></item>
                <item class="previewblock" id="crab_block_3"></item>
        <item class="previewblock" id="crab_block_4"></item>
    </container>
</section>
<section class="settings_theme themetarget" id="godseyesetting">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">God's eye nebula</h3>
        <div class="themetoggle" id="godseyetoggle" onclick="manualthemesetter('godseye')">
            <div class="toggleindicator" id="godseyeindicator"></div>
        </div>
    </div>
    <container class="themepreview" id="grayborder">
        <item class="previewblock" id="godseye_block_1"></item>
        <item class="previewblock" id="godseye_block_2"></item>
        <item class="previewblock" id="godseye_block_3"></item>
        <item class="previewblock" id="godseye_block_4"></item>
    </container>
</section>
<section class="settings_theme themetarget" id="messiersetting">
    <div class="themetogglecontainer themetarget">
        <h3 class="chakrafont themetitle">Black hole: Messier 87</h3>
        <div class="themetoggle" id="messiertoggle" onclick="manualthemesetter('messier')">
                <div class="toggleindicator" id="messierindicator"></div>
        </div>
    </div>
    <container class="themepreview" id="grayborder">
        <item class="previewblock" id="messier_block_1"></item>
        <item class="previewblock" id="messier_block_2"></item>
        <item class="previewblock" id="messier_block_3"></item>
        <item class="previewblock" id="messier_block_4"></item>
    </container>
</section>

<section class="languageheader chakrafont themetarget">
    <h3>Languages for Content pages</h3>
</section>

<section class="languageoptioncontainer themetarget">
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Swedish</h3>
            <div class="languagetoggle" id="swedishtoggle" onclick="languagesetter('swedish')">
                    <div class="languageindicator" id="swedishindicator"></div>
                </div>
            </item>
    </container>
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Russian</h3>
            <div class="languagetoggle" id="russiantoggle" onclick="languagesetter('russian')">
                <div class="languageindicator" id="russianindicator"></div>
            </div>
        </item>
        <overlay class="notyetimplemented"><h3 class="chakrafont">Feature NYI</h3></overlay>
    </container>
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">English</h3>
            <div class="languagetoggle" id="englishtoggle" onclick="languagesetter('english')">
                    <div class="languageindicator" id="englishindicator"></div>
            </div>
        </item>
    </container>
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">German</h3>
            <div class="languagetoggle" id="germantoggle" onclick="languagesetter('german')">
                <div class="languageindicator" id="germanindicator"></div>
            </div>
        </item>
        <overlay class="notyetimplemented"><h3 class="chakrafont">Feature NYI</h3></overlay>
    </container>
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">French</h3>
            <div class="languagetoggle" id="frenchtoggle" onclick="languagesetter('french')">
                <div class="languageindicator" id="frenchindicator"></div>
            </div>
        </item>
        <overlay class="notyetimplemented"><h3 class="chakrafont">Feature NYI</h3></overlay>
    </container>
    <container class="languageoption themetarget">
        <item class="languagetogglecontainer themetarget">
            <h3 class="chakrafont languagetitle">Spanish</h3>
            <div class="languagetoggle" id="spanishtoggle" onclick="languagesetter('spanish')">
                    <div class="languageindicator" id="spanishindicator"></div>
            </div>
        </item>
        <overlay class="notyetimplemented"><h3 class="chakrafont">Feature NYI</h3></overlay>
    </container>
</section>
</container>