.languageheader {
  min-height: 100px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2.5px;
  border-style: solid; }

.languageoptioncontainer {
  display: flex;
  flex-wrap: wrap; }

.languageoption {
  min-width: calc(50vw - 5px);
  min-height: 100px;
  border-width: 2.5px;
  border-style: solid;
  position: relative; }

.languagetoggle {
  position: relative;
  border-radius: 0.5rem;
  background-color: #4B4B4B;
  height: 2rem;
  width: 6rem;
  margin-left: 10%;
  transition: all 0.5s; }

.languageindicator {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: #646464; }

.languagetitle {
  padding-left: 10%; }

.swedishbackgroundactive {
  background-color: #004d00; }

.swedishindicatoractive {
  background-color: #008a00;
  left: 4rem; }

.englishbackgroundactive {
  background-color: #004d00; }

.englishindicatoractive {
  background-color: #008a00;
  left: 4rem; }

.russianbackgroundactive {
  background-color: #004d00; }

.russianindicatoractive {
  background-color: #008a00;
  left: 4rem; }

.germanbackgroundactive {
  background-color: #004d00; }

.germanindicatoractive {
  background-color: #008a00;
  left: 4rem; }

.frenchbackgroundactive {
  background-color: #004d00; }

.frenchindicatoractive {
  background-color: #008a00;
  left: 4rem; }

.spanishbackgroundactive {
  background-color: #004d00; }

.spanishindicatoractive {
  background-color: #008a00;
  left: 4rem; }
