footer {
  min-height: 15vh;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.8rem;
  border-top-width: 2.5px;
  border-style: solid; }
  footer h3 {
    padding-left: 10%; }

.filler {
  max-width: 55vw;
  margin: 5% 0% 5% 10%;
  padding-right: 5%;
  border-width: 0;
  border-right-width: 2.5px;
  border-style: solid;
  border-color: black; }

.contact {
  padding-right: 10%; }
